html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'lora', serif;
	background-color: #f0f0f0;
	margin: 0px;
	overflow-x:hidden;
}

html{
	font-size: 100%;
}

@media(max-width: 1200px)
{
	html{
		font-size: 85%;
	}
}

@media(max-width: 600px)
{
	html{
		font-size: 75%;
	}
}

.name{
	width: 100%;
	background-color: rgba(255,255,255,0.7);
	position: absolute;
	bottom: 10%;
	text-align: center;
	padding: 4rem 0 3rem 0;
	pointer-events:none;
}

.name h1{
	font-size: 3rem;
}

.name p{
	margin-top: 2rem;
	font-size: 1.4rem;
}

.image-wrapper{
}

.me{
	border-radius:50%;
	background-color: #fff;
	width:10rem;
	border:2px solid #fff;
	box-shadow: 1px 1px 2px #333;
	display: inline-block;
	margin-top: -50%;

}

.cubes{
	overflow: hidden;
	cursor:crosshair;
}

.static-size{
	height: 100vh;
	width: 100%;
}

.poster{
	height: 100%;
	width: 100%;
	background:url('code-background.png') center center no-repeat;
	background-size:cover;
}

.content-container{
	background-color: #fff;
	padding: 5rem;
	text-align: center;
}

.content-container h2{
	font-size: 2.6rem;
	margin:2.5rem 0;
}

.content-container h3{
	font-size:2rem;
}

.content-container p{
	font-size: 1.2rem;
	margin-bottom: 1rem;
	line-height: 2.4rem;
}

.keywords-list{
	margin-bottom:3rem; 
}

.keywords-list > ul{
	margin-bottom: 2rem;
}

.content-container ul li{
	font-size: 1.2rem;
	line-height: 2.4rem;
}

.social{
	margin-top: 3rem;
}

.social-list li{
	display: inline-block;
	margin: 0 1rem 0 1rem;
}

.social-link{
	border:2px solid #000;
	border-radius: 50%;
	height:4rem;
	width: 4rem;
	line-height: 5rem;
	display: block;
	color:#000;
}

.social-link:hover, .social-link:focus{
	color:#333;
	border-color: #333;
}

.social-link .fa{
	font-size: 2.5rem;
}